<!DOCTYPE html>
<html>
    <style src="../css/portal.css"></style>
    <script src="../js/portal.js"></script>
    <head>
        <meta charset="UTF-8">
        <meta name="쿸으다스" content="cookedas1">
        <meta property="og:title" content="파이끄투">
        <meta property="og:description" content="끝말잇기를 다양하게! 파이끄투">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>파이끄투 - 메인</title>
    </head>
    <body>
        <a href="/login">로그인</a>
        <button>게임 시작!</button>
        <h2>메인 공지</h2>
        <h3>1.0.0</h3>
        <ul>
            <li>파이끄투가 오픈되었습니다.</li>
        </ul>
        <a href="이용약관 주소"><button>이용약관</button></a>
        <a href="개인정보처리방침 주소"><button>이용약관</button></a>
    </body>
</html>